{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">
<title>Tabla de posiciones</title>

<link rel="stylesheet" href="{% static 'css/torneo.css' %}">

</head>

<body>

<div class="container">

<h1>Tabla de Posiciones</h1>

<table class="tabla">

<tr>
<th>Equipo</th>
<th>PJ</th>
<th>PG</th>
<th>PE</th>
<th>PP</th>
<th>PTS</th>
</tr>

{% for e in tabla %}

<tr>

<td>{{ e.equipo }}</td>
<td>{{ e.pj }}</td>
<td>{{ e.pg }}</td>
<td>{{ e.pe }}</td>
<td>{{ e.pp }}</td>
<td>{{ e.pts }}</td>

</tr>

{% endfor %}

</table>
<br>

<a href="{% url 'campeon' %}" class="ver-campeon">
Ver campeonato
</a>

<a href="{% url 'torneo' %}" class="volver">Volver al torneo</a>

</div>

</body>
</html>