{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">
<title>Torneo</title>

<link rel="stylesheet" href="{% static 'css/torneo.css' %}">

</head>

<body>

<h1>Registrar Resultados</h1>

<a href="{% url 'tabla' %}">Ver tabla de posiciones</a>

<br><br>

<form method="POST">
{% csrf_token %}
<button name="reset" value="1">Reiniciar Torneo</button>
</form>

<br><br>

{% for p in partidos %}

<form method="POST">

{% csrf_token %}

{{ p.equipo_a.nombre }}

<input
type="number"
name="goles_a"
min="0"
class="gol-input"
data-id="{{ p.id }}a"
value="{% if p.jugado %}{{ p.goles_a }}{% endif %}"
{% if p.jugado %}disabled{% endif %}
>

VS

<input
type="number"
name="goles_b"
min="0"
class="gol-input"
data-id="{{ p.id }}b"
value="{% if p.jugado %}{{ p.goles_b }}{% endif %}"
{% if p.jugado %}disabled{% endif %}
>

{{ p.equipo_b.nombre }}

<input type="hidden" name="partido_id" value="{{ p.id }}">

{% if not p.jugado %}

<button type="submit">Guardar</button>

{% else %}

✔ Guardado

{% endif %}

</form>

<br>

{% endfor %}

<script>

/* guardar valores en memoria */

document.querySelectorAll(".gol-input").forEach(input => {

    const key = input.dataset.id

    if(localStorage.getItem(key)){
        input.value = localStorage.getItem(key)
    }

    input.addEventListener("input", () => {
        localStorage.setItem(key, input.value)
    })

})

</script>

</body>
</html>