{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arena Pro - Inicio Sesión</title>
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
</head>
<body>

    <header>
        <div class="logo">ARENA PRO</div>
    </header>

    <div class="inicio_con">
        <h2>Iniciar Sesión</h2>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Usuario" required>
            
            <input type="password" name="password" placeholder="Contraseña" required>
            
            <button type="submit">Ingresar</button>
        </form>

        {% if error %}
            <p class="error-msg">{{ error }}</p>
        {% endif %}
    </div>

</body>
</html>